<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">プロフィール編集</h1>
      <p class="text-center">コミュニティ用のプロフィールを編集しよう！</p>
      <div class="well card">
        <div class="card-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>